
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffa6c8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .navItens {
    display: flex;
    gap: 1.5rem;

    .navLink {
      color: #d85c8c;
      padding: 0.5rem 0;
      transition: color 0.3s ease; //trasição suave da cor

      &:hover {
        color: #8f3e5d;
      }
    }
  }

  //media Query => telas menores
  @media (max-width: 800px) {
    flex-direction: columns;
    align-items: flex-start;
    padding: 1rem;

    .navItens {
      flex-direction: column;
      width: 100%;
      gap: 0;
      margin-top: 1rem;

      .navLink{
        padding: 0.8rem 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
      }
      &:last-child{
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
}
